-----BEGIN CERTIFICATE-----
MIIDazCCAlOgAwIBAgIUIpkkS1AzVjtqX6sjw5xzDmuwN4gwDQYJKoZIhvcNAQEL
BQAwRTELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoM
GEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0yMzA0MjMwMDU2MzNaFw0yNDA0
MjIwMDU2MzNaMEUxCzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEw
HwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQwggEiMA0GCSqGSIb3DQEB
AQUAA4IBDwAwggEKAoIBAQDlEnEs8c4FhccQEr6hcOMOOX/luspV/H0zAcU6xTs9
8c39IqkGURSFNE6yozoiNoPTjRspJcJmMW3s8mMU9nt1PfylRMd5huMoCIIv7S0S
PbPSp3tGOU8Gq2Emh847LzntUzohaBiaJMHY6+6Y/OjnGV+jlZJLXn/Isvx8hFMh
ryP2Jkn8sTnw2X2vM8NzVhfLzkq6hPXaejOX1uTV9LoGGzNY5v6j/l2o8yfdJBm4
sY+O9V0s8m3d4KxavL409kFHzwOdaWM3MN1C2CSe45B82JuccFMy7zFjtwqNW8qr
yZdSJbMiIBaJSnliDExBQvUguB8ejDVRjUg+Fvf2DELbAgMBAAGjUzBRMB0GA1Ud
DgQWBBSoUESOpGJ9gsiR7I7pZEGb6NMM6TAfBgNVHSMEGDAWgBSoUESOpGJ9gsiR
7I7pZEGb6NMM6TAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQBM
0UcKnFfx9V9JBsK86q5+eA37RKPn9tf8L9sS2nPIEY3CCxg68pNh5e5WKCV0YX85
vdDydswLqIjdY4LNcIKFzzLfQCwusbhrfkMIJCaVvAqhfJANisyV649LgkRZHqaO
1vGa2Tc1ngHnnlKTzzJDNpFTMZX6d/GUAAdB6WB60D1NiflNMjF9GdrdAm5GBwk6
egOQk7sEDBdWx0tdwm9DPuQhYruvBwtMe0CTuw6IE6Kf8pkVgZUF5G+W/F6Sgtg8
iH4nw8X5CzOIuSHQxKrQKM8CuPtssoNCB7tTJUBSlJhDFlAMmU0mgqg+gwxwpnHn
kljbOD0Is2PM7hoY76yO
-----END CERTIFICATE-----
